body {
  font: normal 18px Roboto, arial, sans-serif;
  background-color: rgb(236, 230, 230);
  font-family: "Dancing Script", cursive !important;
}

.App {
  text-align: center;
  color: black;
}

.instagram {
  color: #f15944;
}
