.wrapper {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.camera {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 15px;
    right: 110px;
    font-size: 28px;
}

.image {
   display: flex;
   position: relative;
   width: 50px;
   height: 50px;
   right: 5px;
}

.profile {
    position: relative;
    left: 104px;
}

.name-logo {
  position: relative;
  z-index: 2;
  margin: 10px;
  letter-spacing: 10px;
  text-transform: uppercase;
  transform: rotate(-5deg);
  text-shadow: 1px 1px hsl(50, 50%, 45%),
               2px 2px hsl(50, 50%, 40%),
               3px 3px hsl(50, 50%, 35%),
               4px 4px hsl(50, 50%, 34%),
               5px 5px hsl(50, 50%, 33%),
               6px 6px hsl(50, 50%, 32%),
               7px 7px hsl(50, 50%, 31%),
               8px 8px hsl(50, 50%, 30%),
               9px 9px hsl(50, 50%, 29%),
               10px 10px hsl(50, 50%, 28%),
               10px 10px 30px rgba(0,0,0,.7),
}

.create-post-btn {
    width: 120px;
    background-color: #006400;
    color: white;
}